body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
    background-color: #ffffff;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #6a6a6a;
    color: #fff;
  }
  
  h1 {
    font-size: 200%;
  }
  
  h2 {
    margin: 1% 0;
    font-size: 350%;
  }
  /*Selects all <ul> elements inside <nav> elements*/
  /*https://www.w3schools.com/cssref/sel_element_element.asp*/
  nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
  }
  
  /*Selects all <a> elements inside <nav> elements*/
  /*https://www.w3schools.com/cssref/sel_element_element.asp*/
  nav a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
  }
  
  /*Selects all <a> elements inside <nav> elements*/ 
  /*https://www.w3schools.com/cssref/sel_element_element.asp*/
  nav a:hover {
    color: #fff;
  }
  
  main {
    max-width: 96%;
    margin: 2% auto;
  }
  
  img {

}
  
  article {
    border-bottom: 1px solid #000000;
  }
  
  /*Selects all <p> elements inside <article> elements*/
  /*https://www.w3schools.com/cssref/sel_element_element.asp*/
  article p {
    margin: 2% 0;
    font-size: 110%;
    background-color: #000000;
    color: #fff;
  }
  
  /*Selects all <ul> elements inside <article> elements*/
  /*https://www.w3schools.com/cssref/sel_element_element.asp*/
  article ul {
    margin-left: 5%;
    font-size: 110%;
    list-style: circle;
  }
  
  /*Selects all <li> elements inside <article> elements*/
  /*https://www.w3schools.com/cssref/sel_element_element.asp*/
  article li {
    margin: 5px 0;
  }
  
 
  
  /* Use adjacent sibling combinator (+) to select all <p> elements that come immediately after a <ul> element inside of an <article> element */
  /*🔑 We can use the adjacent sibling + selector to apply styles to elements that come after another specific element.*/
  article ul + p {
    background-color: #000000;
    color: #fff;
  }
  
  /* Use child combinator (>) with a wildcard selector (*) to select every single element that is a direct descendant (or child) of any <div> element in an <article> element */
  /*🔑 We can use the direct child > selector to apply styles to elements that are direct children of an HTML element.*/
  article div > * {
    padding: 20px;
    border: 4px solid #1d5f69;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #6a6a6a;
    color: #fff;
  }
  
  @media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  